priority 40
snippet ( "()" iA
($1)$0
endsnippet

snippet [ "[]" iA
[$1]$0
endsnippet

snippet { "{}" iA
\{$1}$0
endsnippet

snippet " "double quote" iA
"$1"$0
endsnippet

snippet ' "single quote" iA
'$1'$0
endsnippet

snippet `` "literal quote" iA
\`\`$1\`\`$0
endsnippet
