snippet tpl "Template for C/C++" b
/// @brief $2
/// @copyright Copyright `!v &enc[:2] == "utf" ? "©" : "(c)"` `!v strftime("%Y")` `!v g:author`. All Rights Reserved.
/// @author `!v g:author`
/// @date `!v strftime("%Y-%m-%d")`

#ifndef ${1:HEADER_GUARD}
#define $1
#ifdef __cplusplus
extern "C" {
#endif
$0
#ifdef __cplusplus
}
#endif
#endif /* $1 */
endsnippet
